<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel Bucket List</title>
      <link rel="icon" href="/images/route.png" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
        <a href="/">Home</a>
      </li>
        <li>
          <a href="/destinations">Destinations</a>
        </li>
        <li>
          <a href="/cities">Cities</a>
        </li>
        <li>
          <a href="/countries">Countries</a>
        </li>
      </ul>
    </nav>
    <section>
    <%= yield %>
    </section>
  </body>
</html>
