<h1>Cities</h1>

<table>
  <tr>
    <th>Cities</th>
    <th>Countries</th>
  </tr>
  <% for city in @cities %>
  <tr>
    <td><a href="/cities/<%= city.id %>"><%= city.name %></a></td>
    <td><a href="/countries/<%= city.country.id %>"><%= city.country.name %></a></td>
  </tr>
  <% end %>
</table>
