<h1><%= @city.name %>, <%= @city.country.name %></h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <tr>
    <td><%= @city.lat %></td>
    <td><%= @city.long %></td>
  </tr>
</table>
