<form action="/countries/<%= @country.id %>" method="post">
  <label for="country-name-field">Country Name:</label>
  <input type="text" name="name" value="<%= @country.name %>">

  <input type="submit" value="Edit country">

</form>
