<h1>Countries</h1>

<p>
   <button type="button"><a href="/countries/new">Add new country</a></button>
</p>
<table>
  <tr>
    <th>Countries</th>
  </tr>
  <% for country in @countries %>
  <tr>
    <td><a href="/countries/<%= country.id %>"><%= country.name %></a></td>
  </tr>
  <% end %>
</table>
