<form action="/countries" method="post">
  <label for="country-name">Country Name:</label>
  <input type="text" name="name" id="country-name-field">
  <input type="submit" value="Add new country">
</form>
